In [2]:
try:
    import pandas as pd
except:
    !pip install pandas
    import pandas as pd

## Series

Series는 Value를 ndarray 형태로 가지고 있다.

Series는 Series라는 형태이며, 그 안에 들어간 value가 ndarray 형태인 것

In [3]:
data = pd.Series([1, 2, 3, 4])

In [4]:
data

0    1
1    2
2    3
3    4
dtype: int64

In [5]:
type(data)

pandas.core.series.Series

In [6]:
data.values

array([1, 2, 3, 4], dtype=int64)

In [7]:
type(data.values)

numpy.ndarray

dtype 인자로 데이터 타입을 지정할 수 있음

In [16]:
pd.Series([1, 2, 3, 4], dtype="string")

0    1
1    2
2    3
3    4
dtype: string

인덱스를 지정할 수 있고 인덱스로 접근 가능

In [23]:
data = pd.Series([1, 2, 3, 4], index=["a", "b", "c", "d"])

data["a"]

1

In [26]:
# 인덱스로 접근하고, 값을 변경할 수 있다
data["c"] = 100000

data

a         1
b         2
c    100000
d         4
dtype: int64

In [12]:
population_dict = {
    'china': 141500,
    "japan": 12718,
    "korea": 5180,
    "usa": 32676
}
population = pd.Series(population_dict)

In [13]:
print(population)

china    141500
japan     12718
korea      5180
usa       32676
dtype: int64

## DataFrame

In [14]:
gdp_dict = {
    "china": 1409250000,
    "japan": 516700000,
    "korea": 169320000,
    "usa": 2041280000
}

gdp = pd.Series(gdp_dict)
print(gdp)

china    1409250000
japan     516700000
korea     169320000
usa      2041280000
dtype: int64

In [15]:
population_dict = {
    'china': 141500,
    "japan": 12718,
    "korea": 5180,
    "usa": 32676
}
population = pd.Series(population_dict)
print(population)

china    141500
japan     12718
korea      5180
usa       32676
dtype: int64

In [17]:
country = pd.DataFrame({
    "gdp": gdp,
    "population": population,
})
print(country)

              gdp  population
china  1409250000      141500
japan   516700000       12718
korea   169320000        5180
usa    2041280000       32676

In [21]:
data = {
    "country": ["china", "japan", "korea", "usa"],
    "gdp": [1409250000, 516700000, 169320000, 2041280000],
    "population": [141500, 12718, 5180, 32676]
}

country = pd.DataFrame(data)
print(country)

country = country.set_index("country")
print(country)

  country         gdp  population
0   china  1409250000      141500
1   japan   516700000       12718
2   korea   169320000        5180
3     usa  2041280000       32676
                gdp  population
country
china    1409250000      141500
japan     516700000       12718
korea     169320000        5180
usa      2041280000       32676

In [25]:
# 모양 확인
print(country.shape)

# 크기 확인
print(country.size)

# 차원 확인
print(country.ndim)

# 값 확인
print(country.values)

(4, 2)
8
2
[[1409250000     141500]
 [ 516700000      12718]
 [ 169320000       5180]
 [2041280000      32676]]